DATABASE_URL=<DATABASE_URL>
EMAIL_HOST=<EMAIL_HOST>
EMAIL_PORT_NO=<EMAIL_PORT_NO>
EMAIL_AUTH_USER=<EMAIL_AUTH_USER>
EMAIL_AUTH_PASS=<EMAIL_AUTH_PASS>
NODE_ENV=<NODE_ENV>
NEXTAUTH_URL=<NEXTAUTH_URL>
NEXT_PUBLIC_API_URL=<NEXT_PUBLIC_API_URL>